# Copyright (c) 2015 The Regents of the University of Michigan.
# All Rights Reserved.
# Licensed according to the terms of the Revised BSD License
# See LICENSE.md for details.

# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2ea1fbd4ac4699fd0e31096b51ef545b482d9ad4bd40ca7a07276a6712e45dccb821a88bc2adc09793b0ddc2be19e16068c48286ab659aad7807a8e5c1b32c3a

test:
  secret_key_base: 525e7a0e528c0972699d038ef6a5eb35c493cd6db6db85baf0bf756ba59aeb50a2f5bd38b421d61cc99683df3da779048ec615a5fd72e62c65a86f3f71edcc25

production:
  secret_key_base: 5cb31aea99c331715e728df714eca7e45e0b5ed32080dac987551e62af51e8f0a107a72d9e0b3aa2dd9b6f66a00e00da40049c9d8fbd9fb80c75beadf4346a4f
  salt: some_salt # generate with rake secret
  cipher_key: some_cipher_key
  cipher_iv: some_cipher_iv
  transfer_private_key: /home/dpnuser/.ssh/id-rsa_transfer